/WEB/BACKEND/Metin/blog/blog-client/node_modules
/WEB/BACKEND/Metin/blog/blog-auth-server/node_modules
/WEB/BACKEND/Metin/blog/blog-core-server/node_modules
/WEB/BACKEND/Metin/blog/blog-client/.env
/WEB/BACKEND/Metin/blog/blog-client/.gcloudignore
/WEB/BACKEND/Metin/blog/blog-client/app.yaml
/WEB/BACKEND/Metin/blog/blog-client/cloudbuild.yaml
/WEB/BACKEND/Metin/blog/blog-auth-server/.dev.env
/WEB/BACKEND/Metin/blog/blog-auth-server/private_key.pem
/WEB/BACKEND/Metin/blog/blog-auth-server/public_key.pem
/WEB/BACKEND/Metin/blog/blog-auth-server/.dev.env
/WEB/BACKEND/Metin/blog/blog-core-server/.dev.env
/WEB/BACKEND/Metin/blog/blog-auth-server/test.js
/WEB/BACKEND/Metin/blog/blog-core-server/private_key.pem
/WEB/BACKEND/Metin/blog/blog-core-server/public_key.pem